.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;

}

.product-image{
    width: 200px;
}
.product-price{
    color: gray;
}
