.footer-container {
    background-color: black;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon{
    color: white;
}

.fine-print-links{
    color: white;
    display: flex;
}
.fine-print-link{
    padding: 0.5rem 1rem 0px 1rem;
    font-size: small;

}
.footer-icon{
    font-size: 1.75rem;
    padding: 1rem;
    border-radius: 30px;
}
.footer-icon:hover {
    color: black;
    background-color: white;
    transition: all 0.2s ease-out;
}
